/* Remove sort icon from tlist */

.p-sortable-column-icon {
  display: none !important;
}

.alert-danger {
  padding: 0.3rem 0rem;
  margin-top: 1rem;
  text-align: center;
}

/* Change color of rate if there's an error */
.table-text-error {
  color: crimson;
}

.image-coin {
  max-width: 18px;
  text-align: center;
}

.amount-input > input {
  width: 4.5rem;
}
/* Media queries */
@media screen and (max-width: 500px) {
  .balance-list-table {
    width: 100%;

    font-size: small !important;
  }
}
